$font-size-medium: 1.5em;
$font-size-small: 1em;
$font-size-large: 2em;

$font-family: 'Sans-serif', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', 'Geneva', 'Trebuchet MS', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';